{% extends "base.html"%}

{%block title%} {{block.super}} | index {% endblock title%}

{%block content%}
<h1>index</h1>  
<p>
    <ol>
        <li><a href="{% url 'prima_app:homepage'%}">Home page bevenuto</a></li>
        <li><a href="{% url 'prima_app:welcome'%}">Welcome</a></li>
        <li><a href="{% url 'prima_app:lista'%}">Lista</a></li>
        <li><a href="{% url 'prima_app:chi_siamo'%}">Chi siamo</a></li>
        <li><a href="{% url 'prima_app:variabili'%}">Variabili</a></li>
    </ol>
</p>
{%endblock content%}